	
	<div class="center">
	<h1>{$serwer}</h1>
	<h3>Cena domeny (w zł):</h3>
		<span class="red price"></span>
		<input class="input" type="text" name="cena" value="{$settings.price}" id="price" style="text-align:center"><br>
	<h3>Maksymalna ilość ogłoszeń "Oferuje":</h3>
		<span class="red max_0"></span>
		<input class="input" type="text" name="max_0" value="{$settings.ads_0}" id="max_0" style="text-align:center"><br>
	<h3>Maksymalna ilość ogłoszeń "Szukam":</h3>
		<span class="red max_1"></span>
		<input class="input" type="text" name="max_1" value="{$settings.ads_1}" id="max_1" style="text-align:center"><br>
		<a href="#" class="link_dodaj settings_link">Zapisz</a>
	</div>